<extend name="Layout/template"/>
<block name="title">系统日志</block>
<block name="control">
<!--control-nav-->
                    <ul class="control-nav pull-right">
                     <li class="divider"></li>
                        <li>
                            <a href="#" id="hide_help_button">
                               帮助  <i class="fa fa-caret-down"></i>
                            </a>
                        </li>	
                    </ul><!--/control-nav-->
                    
                    <!--breadcrumb-->
                    <ul class="breadcrumb">
                        <li><i class="fa fa-bar-chart-o"></i> 系统日志</li>
                    </ul>
</block>
<block name="content">
 
                    	<div class="col-md-9">
                    		<div class="panel panel-default">
                    			<div class="panel-heading bg-white">
                    				<div class="panel-actions">
                                        <button id="calendar-viewtoday" class="btn-panel">今天</button>
                                        <button id="calendar-viewmonth" class="btn-panel active">昨天</button>
                                        <button id="calendar-viewweek" class="btn-panel">前天</button>
                                    </div><!--panel-actions-->
                    				<h4 class="panel-title">日志名</h4>
                    			</div><!--panel-heading-->

								 

                    			<div class="panel-body">
            <php>
            $default_file = $system_logs_file[0] == "index.html"? $system_logs_file[1] : $system_logs_file[0];	
            $filesize = (int)filesize(LOG_PATH.$default_file);
            $times = 0;
            while($filesize>1000){
            $filesize = round($filesize/1000,2);
            $times++;
            }
            switch($times){
            	case 1 : $filesize = (int)$filesize; $filesize.="K"; break;
            	case 2 : $filesize.="M"; break;
            	case 3 : $filesize.="G"; break;
            }
            </php>	 
                    			</div><!--panel-body-->
                    		</div><!--panel-->
                    	</div><!--cols-->

                    	<div class="col-md-3">
                    		<div id="external-events" class="panel panel-default">
                    			<div class="panel-heading bg-white"> 
                    				<h4 class="panel-title">历史日志</h4>
                    			</div><!--panel-heading-->

                    			<div class="list-group" id="tree1">
                    				<div class='list-group-item '><a href="#">Atque</a></div>
									<div class='list-group-item '>Atque, illum, harum, delectus</div>
									<div class='list-group-item '>Repudiandae quibusdam</div>
									<div class='list-group-item '>Animi esse ratione quam</div>
									<div class='list-group-item '>Quaerat suscipit itaque</div>
									<div class='list-group-item '>Ut ipsa pariatur similique</div>
                    			</div><!--list-group-->

                    		</div><!--panel-->
                    	</div><!--cols-->
 

</block>


<block name="footer-load">
<script>	
$(function(){
	$("#tree1").find("a").click(function(){
		$("span.dynatree-active").removeClass("dynatree-active");
		$("#log_display").find(".box-content").html('<div class="text-center"><i class="icon-2x icon-spinner icon-spin"></i></div>');
		$("#log_display").find("span.filename").html($(this).text());
		$("#span_delete_file").find("a").attr("filename",$(this).text());
		var data = { filename : $(this).text() };
		$.get("/admin/logs/ajaxgetlog",data,function(d,s){
			$("#log_display").find(".box-content").html(d);
			$("div.one-bg:last").remove();
	        $("div.two-bg:last").remove();
		});
		$.get("/admin/logs/getfilesize",data,function(d,s){
	       $("#log_display").find("span.filename").append("&nbsp;(文件大小:"+d+")");
		});
	});
	$("#span_delete_file").find("a").click(function(){
		var data = {filename:$(this).attr("filename")};
		var r=confirm("确认删除日志:"+data.filename+"?");
        if (!r) return false;
		$.get("/admin/logs/deletefilelog",data,function(d,s){
	    	 if(d=="success"){
	    	 	var url = window.location.href;
			    if(url.indexOf("#")==url.length-1){
			  	   url = url.substr(0,url.length-1);
			    } 
			    window.location.href = url; 
	    	 }
	    });
	    return false;
	});
	$("#tree1").find("span:first").addClass("dynatree-active");
	$("div.one-bg:last").remove();
	$("div.two-bg:last").remove();
});	
</script>	
</block>