<extend name="Layout/template"/>
<block name="title">页面开发文档</block>
<block name="headcss"></block>
<block name="headjs"></block>
<block name="footjs"></block>
<block name="content">
<br />
<div class="row-fluid">
    <div class="span9 box">
        <div class="box-content box-padding">
           <div class='row-fluid timeline'>
                    <div class='span12'>
                        <ol class='unstyled'>
                            <li>
                                <div class='icon purple-background'>
                                    <i class='icon-plane'></i>
                                </div>
                                <div class='title'>
                                    Vacation
                                    <small class='muted'>1 minute ago</small>
                                </div>
                                <div class='content'>
                                    Ut cum aut ea provident sed asperiores ducimus officia rerum nobis cumque atque doloremque iusto sint quibusdam deserunt vel quaerat totam a magnam repudiandae molestias rerum veritatis perferendis dolores velit tempore adipisci iure quia odio omnis in et aut maxime sunt voluptatem necessitatibus qui.
                                </div>
                            </li>
                            <li>
                                <div class='icon green-background'>
                                    <i class='icon-picture'></i>
                                </div>
                                <div class='title'>
                                    <a href="#" class="muted">Vernon Hessel</a>
                                    uploaded new photos
                                    <small class='muted'>10 minutes ago</small>
                                </div>
                                <div class='content'>
                                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                                    <img alt="143249" src="http://placehold.it/140x70/dce1e5/143249" />
                                </div>
                            </li>
                            <li>
                                <div class='icon orange-background'>
                                    <i class='icon-comments'></i>
                                </div>
                                <div class='title'>
                                    <a href="#" class="muted">Adaline Schmitt</a>
                                    sent comment
                                    <small class='muted'>1 hour ago</small>
                                </div>
                                <div class='content'>
                                    Consequuntur sit blanditiis animi deleniti rerum debitis in reiciendis similique ullam iusto et numquam omnis et id commodi hic sint eveniet.
                                </div>
                            </li>
                           
                        </ol>
                    </div>
                </div>
            
        </div>
    </div>
    
    <div class="span3 box">
        <div class="box-header box-header-small blue-background">
            <div class="title">
                                      用户面板
            </div>
            <div class="actions">
                <a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
                </a>
            </div>
        </div>
        <div class="box-content box-padding">
            <table class="table table-bordered table-condensed table-hover" style="margin-bottom:0;">
								<tbody>
								<tr>
									<td>
										<a class="has-popover" href="#" data-title="文件描述" data-placement="top" data-content="测试文件描述" data-original-title="">
                            		一个文件名
										</a>
									</td>
									<td>
										<div class="text-center">
											<span class="label label-important" title="文件类型">.zip</span>
										</div>
									</td>
									<td>
										<div class="text-center">
											<a class="btn btn-success btn-mini" href="#" title="使用">
											<i class="icon-ok"></i>
											</a>
										</div>
									</td>
									<td>
										<div class="text-center">
											<a class="btn btn-danger btn-mini" href="#" title="删除">
											<i class="icon-trash"></i>
											</a>
										</div>
									</td>
								</tr>
								</tbody>
								</table>
          
        </div>
    </div>
    
   
    
</div>
</block>