<extend name="Layout/template"/>
<block name="title">修改密码</block>
<block name="control">
<!--control-nav-->
<ul class="control-nav pull-right">
	<li class="divider"></li>
	<li>
	<a href="/hoo/page/admin">
               个人中心
	</a>
	</li>
	<li class="divider"></li>
	<li>
	<a href="/hoo/page/admin">
               所有用户
	</a>
	</li>
	<li class="divider"></li>
	<li>
	<a href="/hoo/page/cate">
      角色权限
	</a>
	</li>
	<li class="divider"></li>
	<li>
	<a href="#" id="hide_help_button">
                               帮助  
	<i class="fa fa-caret-down"></i>
	</a>
	</li>
</ul>
<!--/control-nav-->
<!--breadcrumb-->
<ul class="breadcrumb">
	<li><a href="/hoo"><i class="fa fa-home"></i> 仪盘表</a></li>
	<li><a href="/hoo/page/admin">用户</a></li>
	<li class="active">修改密码</li>
</ul>
</block>
<block name="content">
<form role="form" class="form-horizontal form-bordered" method="post">
	<div class="row col-md-12">
		<div id="panel-fileinput" class="panel panel-default sortable-widget-item">
			<div class="panel-body hoo-no-padding-botttom">
				<div data-wizard="">
					<h3>修改密码</h3>
					<section>
					<div class="form-group">
						<label class="col-sm-3 control-label">原密码 *</label>
						<div class="col-sm-7">
							<div class="input-group input-group-in">
								<span class="input-group-addon text-silver"><i class="fa fa-circle-o"></i></span>
								<input class="form-control" name="passwd" minlength="2" required="" type="password">
							</div>
						</div>
					</div>
					<!-- /form-group -->
					<div class="form-group">
						<label class="col-sm-3 control-label">新密码 *</label>
						<div class="col-sm-7">
							<div class="input-group input-group-in">
								<span class="input-group-addon text-silver"><i class="fa fa-circle-o"></i></span>
								<input class="form-control" name="password" minlength="2" required="" type="password">
							</div>
						</div>
					</div>
					<!-- /form-group -->
					<div class="form-group">
						<label class="col-sm-3 control-label" for="confirm_passwd">确认密码 *</label>
						<div class="col-sm-7">
							<div class="input-group input-group-in">
								<span class="input-group-addon text-silver"><i class="fa fa-circle-o"></i></span>
								<input class="form-control" name="confirm_password" equalto="#passwd" type="password">
							</div>
						</div>
					</div>
					<!-- /form-group -->
					<div class="clearfix">
					</div>
					</section><!-- /step 1 -->
					<div class="form-group">
						<label class="col-sm-3 control-label" for="address"></label>
						<div class="col-sm-7">
							<div class="nice-checkbox">
								<button class="bt btn-lg btn-primary form-control text-white" type="submit">确认修改</button>
							</div>
						</div>
					</div>
					<!-- /form-group -->
					</section><!-- /step 3 -->
				</div>
			</div>
			<!-- /panel-body -->
		</div>
	</div>
</form>
</block>
<block name="page-help">
<p>
	在这里可修改用户密码.
</p>
</block>