<extend name="Layout/template"/>
<block name="title">所有页面</block>



<block name="control">
<!--control-nav-->
                    <ul class="control-nav pull-right">
                         <li class="divider"></li>
                        <li>
                            <a href="/hoo/page/create">
                              新建页面
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/hoo/page/cate">
      分类管理
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="hide_options_button">
                                显示选项  <i class="fa fa-caret-down"></i>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" id="hide_help_button">
                               帮助  <i class="fa fa-caret-down"></i>
                            </a>
                        </li>
                    </ul><!--/control-nav-->
                    
                    <!--breadcrumb-->
                    <ul class="breadcrumb">
                        <li><i class="fa fa-files-o"></i> <a href="/hoo/page/admin" class="text-primary">页面</a></li>
                        
                        <php>if(isset($_GET['cate'])):</php>
                        <li >分类</li>
                         <li >{$_GET.cate}</li>
                        <php>endif;</php>
                        <php>if(isset($_GET['year'])):</php>
                        <li >归档</li>
                        <li >{$_GET.year}年{$_GET.month}月</li>
                        <php>endif;</php>
                    </ul>
</block>
<block name="content">	
{$tableDisplay}
</block>

<block name="side-right">
<!-- side-right -->
        <aside class="side-right" id="order-side">
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <h3 class="contact-heading">
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="side-right">
                                <i class="fa fa-times text-sm"></i>
                            </a>
                        </div>
                        <i class="fa fa-tag"></i> 分类 
                    </h3><!-- /contact-heading -->
                    <div class="contact-body">
                        <ul class="contacts-list">
                            <php>
                        	foreach($cates as $cate){
                            echo '
                            <li class="online">
                            <a href="/hoo/page/admin/cate/'.$cate['name'].'" class="hoo-js-link">
                            <i data-original-title="online" class="fa fa-circle-o" title="" rel="tooltip-bottom"></i>'
                            .$cate['name']
                            .'</a></li>';
                            }
                            </php>
                        </ul><!-- /contacts-list -->
                    </div>
                </div><!-- /chat-contact -->


            </div><!-- /module -->
        </aside><!--/side-right -->        	
<!-- side-right -->
        <aside class="side-right" id="pige-side">
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <h3 class="contact-heading">
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="side-right">
                                <i class="fa fa-times text-sm"></i>
                            </a>
                        </div>
                        <i class="fa fa-bars"></i> 归档
                    </h3><!-- /contact-heading -->
                    <div class="contact-body">
                        <ul class="contacts-list">
                    <php>
                        	foreach($piges as $pige){
                            echo '
                            <li class="online">
                            <a href="/hoo/page/admin/year/'.$pige['year'].'/month/'.$pige['month'].'" class="hoo-js-link">
                            <i data-original-title="online" class="fa fa-circle-o" title="" rel="tooltip-bottom"></i>'
                            .$pige['year'].'年'.$pige['month'].'月'
                            .'</a></li>';
                            }
                            </php>
                              </ul><!-- /contacts-list -->
                    </div>
                </div><!-- /chat-contact -->


            </div><!-- /module -->
        </aside><!--/side-right -->        	
</block>


<block name='hide-header-styles'>
	
</block>


<block name="page-options">
	<div class="col-md-12">显示选项</div>	
                <php>
                foreach ($table->thead as $item){
                	if($item->name!='页面名称'){
                	echo '<div class="col-md-2">	
            			  <div class="nice-checkbox text-primary">
                          <input type="checkbox" id="'.$item->class.'">
                          <label for="'.$item->class.'"><span class="text-inverse">'.$item->name.'</span></label>
                          </div>
                          </div>';
                         }
                }
                </php>
            	<!-- <div class="col-md-12 hoo-margin-bottom">每页条目数</div>	
            	<div class="col-md-1">	
            	<form role="form" class="form">
                <input  step="1" min="1" max="999"  name="amount_per_page" maxlength="3" value="10" type="number">	
                <a class="btn btn-sm btn-primary hoo-admin-dropdown-option" id="amount_per_page_apply" href="/count/10">应用</a> 
                </form>
                </div> -->
</block>

<block name="page-help">
<p>在这里列出所有的页面，可以对它们进行编辑.</p>	
</block>

<block name="footer-load">
<script>
$(".del").click(function(){
var r=confirm("确认删除该页面?");
if (!r) return false;
});	
</script>	
</block>