              <div class="control-group">
                    <label class="control-label">显示下列条目:</label>
                    <div class="controls" id="page_option_ident" name="item-admin">
                    	<label class="checkbox inline">
                            <input value="" type="checkbox" name="option_multi" target="option_multi">
              				批量操作
                        </label>
                    	 <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_page" target="option_page">
              				所在页面
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_group" target="option_group">
              				分组
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_comment" target="option_comment">
             				 评论
                        </label>
						<label class="checkbox inline">
                            <input value="" type="checkbox" name="option_create_time" target="option_create_time">
              				发布时间
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_update_time" target="option_update_time">
              				 更新时间
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_handle" target="option_handle">
              				 操作
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_tiny_window" target="option_tiny_window">
              				小窗口
                        </label>
                    </div>
                </div>
<div class="control-group">   
<label class="control-label">每页显示文章数量:</label>
<div class="controls row-fluid">	             
<input step="1" min="1" max="999"  id="edit_page_per_page" maxlength="3" value="10" type="number">
<button class="btn" style="margin-bottom: 10px;">应用</button>
</div>
</div>