
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Baidu Frontia Sample</title>

  <!-- 在这里引入 frontia -->
    <script src="/baidu-frontia-js-full-1.0.0.js"></script>
</head>
<body>
<div id="not-login">
  <p>
    <button id="login">登录</button>
  </p>
</div>
<div id="has-login">
  <pre id='some-msg'></pre>
</div>
<script>
  /**
   * @param {baidu.frontia} fronta
   * @param {baidu.frontia.User} User
   * @param {baidu.frontia.Role} Role
   * @param {baidu.frontia.personalStorage} personalStorage
   */
  (function (frontia, User, Role, personalStorage) {
    var msgEl = document.getElementById('some-msg');

    var AK = 'Tshb6Fr5q2dBazGr2MxjEhWl';
    // 初始化 frontia
    frontia.init(AK);

    // 使用用户数据需要用户登录
    // 在应用管理页面下的 社会化服务 - 基础设置中设置该地址
     var redirect_url = 'http://www.findcms.com/file/file';

    var user;

    // 获取当前用户
    user = frontia.getCurrentAccount();

    // 设置登录成功后的回调
    frontia.social.setLoginCallback({
      success: function (user) {
        console.log(user);
        console.log('登录成功')
      },
      error: function (error) {
        console.log('error');
        console.log(error)
      }
    });

    // 检查用户是否登录
    if (!user || user.getType() !== 'user' || user.getMediaType() !== 'baidu') {

      // 尚未登录，隐藏上传按钮
      document.getElementById('has-login').style.display = 'none';

      // 点击登录按钮去登录
      document.getElementById('login').onclick = function () {

        // 初始化登录的配置
        var options = {
          response_type: 'token',
          media_type: 'baidu',  // 登录百度帐号
          redirect_uri: redirect_url,
          client_type: 'web',
          scope: 'netdisk'
        };

        // 登录
        frontia.social.login(options);

      };
      return;
    }

    // 隐藏登录按钮
    document.getElementById('not-login').style.display = 'none';

    // 调用接口
    personalStorage.getQuota({

      // 获取成功
      success: function(response) {
        console.log(arguments);
        msgEl.innerHTML = '总空间: ' + ((response.quota || 0) / 1024 / 1024 / 1024) + ' G<br>已使用: ' + ((response.used || 0) / 1024 / 1024 / 1024) + ' G';
      },

      // 出错了 Orz
      error: function() {
        console.warn('error', arguments);
      }
    });

  }(baidu.frontia, baidu.frontia.User, baidu.frontia.Role, baidu.frontia.personalStorage));
</script>
</body>
</html>