<?php
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>访问出错啦！</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="stilearning">

        <meta http-equiv="x-pjax-version" content="v173">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/favico-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/favico-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/favico-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/favico-57-precomposed.png">
        <link rel="shortcut icon" href="ico/favico.png">
        <link rel="shortcut icon" href="ico/favico.ico">

        <!-- build:css /styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/bower_components/animate.css/animate.css">
        <link rel="stylesheet" href="/bower_components/Hover/css/hover.css">
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:css(.tmp) /styles/main.css -->
        <link id="style-components" href="/styles/loaders.css" rel="stylesheet">
        <link id="style-components" href="/styles/bootstrap-theme.css" rel="stylesheet">
        <link id="style-components" href="/styles/dependencies.css" rel="stylesheet">
        <link id="style-base" href="/styles/stilearn.css" rel="stylesheet">
        <link id="style-responsive" href="/styles/stilearn-responsive.css" rel="stylesheet">
        <link id="style-helper" href="/styles/helper.css" rel="stylesheet">
        <link id="style-sample" href="/styles/pages-style.css" rel="stylesheet">
        <!-- endbuild -->
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->
        <style>
        body{
        	font-size: 13px;
        }
        .tab-content{
        	overflow: hidden;
        }
        .hoo-auto-buzz-out{
        	display: inline-block;
			transform: translateZ(0px);
			box-shadow: 0px 0px 1px transparent;
			animation-name: buzz-out;
			animation-duration: 0.45s;
			animation-timing-function: linear;
			animation-iteration-count: 2;
        }
        #signup-form  button{
		    width: 70px !important;;
		}
        </style>
    </head>

    <body class="animated fadeIn">		

		<div class="content content-full">
			<div class="container">
			<!-- PAGE 404
                    ====================== -->
                    <div class="error-wrapper">
                    	<h1 class="error-title"><i class="fa fa-warning animated animated-infinite animated-dur-3 flash text-danger"></i>糟糕！ 访问出错啦.</h1>
                    	<p class="lead"><?php echo strip_tags($e['message']);?></p>
                    	<!-- <form action="" role="form">
                    		<div class="form-group">
                    			<div class="col-md-8 col-md-offset-2 input-group input-group-in">
	                    			<input type="text" class="form-control input-lg" placeholder=" " focus />
	                    			<span class="input-group-btn">
	                    				<button class="btn btn-lg btn-primary" type="submit">
											<i class="fa fa-search"></i>
										</button>
	                    			</span>
                    			</div>
                    		</div>
                    	</form> -->
                    	<?php if(isset($e['file'])) {?>
							<div class="info">
								<div class="title">
									<h3>错误位置</h3>
								</div>
								<div class="text">
									<p>FILE: <?php echo $e['file'] ;?> &#12288;LINE: <?php echo $e['line'];?></p>
								</div>
							</div>
						<?php }?>
						<?php if(isset($e['trace'])) {?>
							<div class="info">
								<div class="title">
									<h3>TRACE</h3>
								</div>
								<div class="text">
									<p><?php echo nl2br($e['trace']);?></p>
								</div>
							</div>
						<?php }?>
                    </div><!--/error-wrapper-->	
			</div>
		</div><!--/content-->
    </body>
</html>
