<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title><block name="title"></block></title>
<link rel="stylesheet" type="text/css" href="/front/find/style.css" media="all" />
<link rel="stylesheet" media="all" href="/front/find/style/type/folks.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="/front/find/style/css/ie7.css" media="all" />
<![endif]-->
<block name="headcss"></block>
<script type="text/javascript" src="/front/find/style/js/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/front/find/style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/front/find/style/js/scripts.js"></script>
<block name="headjs"></block>
</head>
<body>
<div id="container">
   <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        <div id="logo"><a href="index.html"><img src="/front/find/style/images/logo.png" alt="Delphic" /></a></div>
        <!-- Logo --> 
        <!-- Begin Menu -->
        <div id="menu-wrapper">
          <div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
              <li><a href="/find/home/u/1437" class="{$index}">主页</a></li>
              <li><a href="/find/blogs/u/1437" class="{$blogs}">博客</a></li>
              
              <li><a href="/find/works/u/1437" class="{$works}">作品</a></li>
              <li><a href="/find/books/u/1437" class="{$books}">书籍</a></li>
              
              <li><a href="/find/source/u/1437" class="{$source}">资源</a></li>
              <li><a href="/find/message" class="{$message}">留言</a></li>
            </ul>
          </div>
        </div>
        <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 
  <block name="container"></block> 
  <div class="clearfix"></div>
  <div class="push"></div>
   <!-- Begin Footer -->
  <div id="footer-wrapper">
  <div id="footer">
    <div id="footer-content"> 
      
      <!-- Begin Copyright -->
      <div id="copyright">
        <p>© Copyright 2014 findblog</p>
      </div>
      <!-- End Copyright --> 
      
      <!-- Begin Social Icons -->
      <div id="socials">
        <ul>
          <li><a href="#"><img src="style/images/icon-rss.png" alt="" /></a></li>
          <li><a href="#"><img src="style/images/icon-twitter.png" alt="" /></a></li>
          <li><a href="#"><img src="style/images/icon-dribble.png" alt="" /></a></li>
          <li><a href="#"><img src="style/images/icon-tumblr.png" alt="" /></a></li>
          <li><a href="#"><img src="style/images/icon-flickr.png" alt="" /></a></li>
          <li><a href="#"><img src="style/images/icon-facebook.png" alt="" /></a></li>
        </ul>
      </div>
      <!-- End Social Icons --> 
      
    </div>
  </div>
</div>
<!-- End Footer -->
</div>
</body>
<block name="footjs"></block>
</html>