<extend name="layout/template" />
<block name="title">仪盘表</block>
<block name="control">
					<!--control-nav-->
                    <ul class="control-nav pull-right">
                        <li class="divider"></li>
                        <li>
                            <a href="/hoo/helper/sitesetting">
               站点设置
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="divider"></li>
                    </ul><!--/control-nav-->
                    <!--breadcrumb-->
                    <ul class="breadcrumb">
                        <li><i class="fa fa-dashboard"></i> 仪盘表</li>
                    </ul>
</block>
<block name="content">
<style>
.panel > .panel-heading > .nav{
	left:0px !important;
}
.dashboard-counts .lead{
	padding:4px 10px;
}	
.dashboard-counts .nav-tabs > li > a{
	border-radius: 0px;
	border: none !important;
}
.dashboard-counts .nav-tabs > li > a{
	margin: 0px;
	border-radius: 0px;
}
.dashboard-main  .placeholder{
	min-height:50px;
}
 
.dashboard-dynamic li{
	border-radius:0px;
	border-style: solid none none none !important;
}

</style>
<div class="col-md-12 dashboard-main" data-toggle="sortable-widget">	
 <div class="col-md-6">
                             
                            <div class="panel border-cloud sortable-widget-item">
                                <div class="panel-heading bg-white border-cloud sortable-widget-handle">
                                    <h4 class="panel-title"><i class="fa fa-bullhorn"></i>发布公告</h4>
                                </div> 

                                <div class="panel-body">
                                	<form action="" role="form" method="post">
                                    <div class="form-group">
                                        <input  name="notice[title]" type="text" class="form-control" placeholder="标题">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="notice[content]" class="form-control hoo-textarea-y" data-link="false" style="width:100%" rows="3" placeholder="正文"></textarea>
                                    </div> 
                                </div> 

                                <div class="panel-footer bg-white bordered-top clearfix">
                                    <div class="pull-right">
                                        <input type="reset" class="btn btn-sm btn-default" value="取消" />
                                        <input type="submit" class="btn btn-sm btn-primary" value="发布" />
                                    </div>
                                  </form>  
                                </div> 
                            </div> 
                            
                            
<div class="panel border-cloud sortable-widget-item dashboard-dynamic">
                                <div class="panel-heading bg-white border-cloud sortable-widget-handle">
                                    <h4 class="panel-title"><i class="fa fa-bullhorn"></i>历史公告</h4>
                                </div> 

                                <div class="panel-body hoo-no-padding">
                              <ul class="list-group hoo-no-margin">
    <php>foreach($notices as $notice):</php>
    <li class="list-group-item">
    	<span class="badge badge-primary"><a href="/hoo/index/index/deleteNotice/{$notice.id}" class="text-white"><i class="fa fa-trash-o"></i></a></span>
        <span class="badge badge-primary"><php>echo date('Y-m-d H:i',$notice['time'])</php></span>
        <a href="#{$notice.id}_side" data-toggle="side-right">{$notice.title}</a>
    </li>
    <php>endforeach;</php>
    <php>if(count($notices)<1):</php>
    <li class="list-group-item">无历史公告</li>
    <php>endif;</php>
</ul>
                                </div> 
                            </div>  
                            
<div class="placeholder sortable-widget-item">
</div>

                                                         
                             
 </div> 
<div class="col-md-6">
<div class="panel border-cloud hoo-no-padding  profiles-wrap dashboard-counts sortable-widget-item">	
<!-- <div class="panel-heading sortable-widget-handle border-cloud" style="padding-top:30px">
<ul class="nav nav-tabs panel-heading bg-white hoo-no-padding pull-left">
        <li class="active"><a href="#botabs1" data-toggle="tab">统计</a></li>
        <li class=""><a href="#botabs2" data-toggle="tab" class="">系统</a></li>
</ul>
</div> -->
<div class="tab-content panel-body hoo-no-padding-lr" style="padding-top:25px">
     <div class="tab-pane fade active in" id="botabs1">
     <div class="col-md-12">
                            <div id="overall-phisicmem" class="panel  panel-primary bg-primary">
                                        <div class="panel-body hoo-no-padding">
                                             <!-- <div class="panel-actions-fly">
                                                <button data-refresh="#overall-bandwidth" data-error-place="#error-placement" title="refresh" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button> 
                                                <a href="#" title="Go to server stats page" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a> 
                                            </div>  -->

                                            <p class="lead">磁盘空间</p><!--/lead as title-->

                                            <p>
                                                </p><div class="easyPieChart" data-barcolor="#232332" data-trackcolor="#ecf0f1" data-scalecolor="#ecf0f1" data-percent="{$disk.percent}" data-size="120">
                                                    <span>{$disk.percent}%</span>
                                                </div>
                                                <p class="text-ellipsis text-center">{$disk.used} GB / {$disk.total} GB</p>
                                            <p></p>
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-phisicmem-->
                            </div>
								
                                <!-- <div class="col-md-12">
                                    <div id="overall-users" class="panel  bg-primary">
                                        <div class="panel-body hoo-no-padding">
                                            <div class="panel-actions-fly">
                                                <button data-refresh="#overall-users" data-error-place="#error-placement" title="刷新数据" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button> 
                                                <a href="#" title="查看详细统计" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a> 
                                            </div> 

                                            <p class="lead"><strong>用户量</strong></p> 

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">所有用户</p>
                                                    <p class="text-lg"><strong>1437</strong></p>
                                                </li>
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">上月</p>
                                                    <p class="text-lg"><strong>+287</strong></p>
                                                </li>
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">本月</p>
                                                    <p class="text-lg"><strong>+87</strong></p>
                                                </li>
                                            </ul> 
                                        </div> 
                                    </div> 
                                </div>  -->
                                	
     											<div class="col-md-12">
                                    <div id="overall-orders" class="panel  bg-primary">
                                        <div class="panel-body hoo-no-padding">
                                            <!-- <div class="panel-actions-fly">
                                                <button data-refresh="#overall-orders" data-error-place="#error-placement" title="刷新数据" class="btn-panel">
                                                    <i class="glyphicon glyphicon-refresh"></i>
                                                </button> 
                                                <a href="#" title="查看详细统计" class="btn-panel">
                                                    <i class="glyphicon glyphicon-stats"></i>
                                                </a> 
                                            </div> --> 

                                            <p class="lead"><strong>统计</strong></p><!--/lead as title-->

                                            <ul class="list-percentages row">
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">文章数</p>
                                                    <p class="text-lg"><strong>{$count.items}</strong></p>
                                                </li>
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">页面数</p>
                                                    <p class="text-lg"><strong>{$count.pages}</strong></p>
                                                </li>
                                                <li class="col-xs-4 hoo-no-padding">
                                                    <p class="text-ellipsis">分类数</p>
                                                    <p class="text-lg"><strong>{$count.cates}</strong></p>
                                                </li>
                                            </ul><!--/list-percentages-->
                                        </div><!--/panel-body-->
                                    </div><!--/panel overal-orders-->
                               </div><!--/cols-->  
     </div>
     <div class="tab-pane fade" id="botabs2">
     </div>
</div><!-- /tab-content -->
	
	
	
	
									
</div>           
<div class="placeholder sortable-widget-item">
                             </div>                  
</div>

</div>


<php>foreach($notices as $notice):</php>
    <!-- side-right -->
        <aside class="side-right" id="{$notice.id}_side">
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <h3 class="contact-heading">
                        <div class="btn-group pull-right">
                            <a href="#" data-toggle="side-right">
                                <i class="fa fa-times text-sm"></i>
                            </a>
                        </div>
                                                           公告                                     
                    </h3><!-- /contact-heading -->
                    <div class="contact-body">
                    <div class="" style="padding: 20px;">
                    <p>标题：{$notice.title}</p>
                    <p>时间：<php>echo date('Y-m-d H:i',$notice['time'])</php></p>
                    <p></p>
                    <p>内容：
                    {$notice.content}
                    </p>	
                    </div>
                    </div>
                </div><!-- /chat-contact -->


            </div><!-- /module -->
        </aside><!--/side-right -->
<php>endforeach;</php>
</block>