<extend name="layout/template" />
<block name="content">
<style>

	.resource-wrap{
  padding: 0px;
  width:72.4%;
}
.resource-wrap .navbar-nav li a{
  height: 30px;
  margin: 0px 2px;
  padding: 6px 10px;
}
.resource-wrap .navbar-nav li.active a{
  background: #EEE;
}
.resource-wrap input{
  margin: 1px;
}
.resource-wrap .pagination li a{
  margin: 2px 0 0 0;
}

.resource-item{
   margin: 10px;
   width:auto;
}
.resource-item .progress{
  margin: 6px 0px 0px 0px;
}
.resource-item li{
  padding: 0px;
}
.resorce-info{
  padding: 0px;
   width:auto;
  margin-top: -1px;
}
.resorce-info .list-group-item{
  padding: 5px 20px;
  width: 110%;
  border-radius: 0px !important;
}
.resources-manager{
	min-width:960px;
}
</style>	
<div class="resources-manager">
<ul class="col-md-2 nav nav-tabs nav-pills nav-stacked hoo-no-padding">
    <li class="active"><a href="#contabs1" data-toggle="tab">添加资源</a></li>
    <li><a href="#contabs3" data-toggle="tab">从URL添加</a></li>  
    <li><a href="#contabs2" data-toggle="tab">新建文件夹</a></li>
    <li><hr></li>
    <li><a href="#contabs2" data-toggle="tab">新建文件夹</a></li>
    <li><a href="#contabs2" data-toggle="tab">新建文件夹</a></li>
</ul>
<div class="tab-content">	
<div class="col-md-9 tab-pane fade active in" id="contabs1">
 
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#botabs1" data-toggle="tab">上传资源</a></li>
                                <li class=""><a href="#botabs2" data-toggle="tab">图片库</a></li>
							    <li class=""><a href="#botabs3" data-toggle="tab">文件库</a></li>
                                <li class=""><a href="#botabs4" data-toggle="tab">文章库</a></li>
                            </ul>
                            <div class="tab-content hoo-no-padding" style="padding-top:15px;">
                                <div class="tab-pane fade active in" id="botabs1">
                                <form action="/target" data-input="dropzone" class="dropzone">
		                            <div class="fallback">
		                                <input name="mydropzone" type="file" multiple />
		                            </div>
		                        </form><!--/form-->	
                                </div>
                                <div class="tab-pane fade" id="botabs2">
                <div class="col-md-8 resource-wrap border-cloud">
           <div class="collapse navbar-collapse hoo-no-padding hoo-no-margin hoo-bg-slight">
                                    <ul class="nav navbar-nav hoo-no-padding hoo-no-margin">
                                        <li class="active hoo-no-padding hoo-no-margin"><a href="#">所有图片</a></li>
                                        <li class="hoo-no-padding hoo-no-margin"><a href="#">最近使用</a></li>
                                        <li class="hoo-no-padding hoo-no-margin"><a href="#">常使用</a></li>
                                    </ul><!--/navbar-nav-->

                                    <form class="navbar-form navbar-left hoo-no-padding hoo-no-margin" role="search">
                                        <div class="form-group">
                                            <input class="form-control input-sm" placeholder="Search" type="text">
                                        </div>
                                    </form><!--/navbar-form-->
                                    
                                    <ul class="navbar-left pagination pagination-sm  pull-right hoo-no-padding hoo-no-margin">
                                        <li class="disabled"><a href="#">«</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>     	
                	 <!-- 分页 -->

                	
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-center item-info">
                        <div class="progress progress-sm progress-striped">
                         <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                          <span class="sr-only">20% Complete</span>
                         </div>
                        </div>         
                                    
    					</li>
						</ul>        		
						
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
                        <ul class="list-group col-md-3 hoo-no-padding resource-item">
    					<li class="list-group-item">
                        <img alt="250x150" src="http://placehold.it/100x100" style=""> 
    					</li>
    					<li class="list-group-item text-blue item-info">
                        <span class="bold">一个文件名</span>   
                                    
    					</li>
						</ul>        		
          
 						</div>
                        <div class="col-md-4  resorce-info">
                        <ul class="list-group">
                        <li class="list-group-item hoo-over-hidden text-center">
                        	
                        <img alt="250x150" src="http://placehold.it/150x150"> 
                        </li>
                         <li class="list-group-item">
                         文件名				                     	
                        </li>
                        <li class="list-group-item">
                        描述	
                        </li>	
                        <li class="list-group-item">
                        大小	
                        </li>		
                        <li class="list-group-item">
                        <span>尺寸</span>
                        <select>
                        <option>原图尺寸</option>	
                        <option>中等尺寸300x300</option>	
                        <option>小尺寸120x120</option>	
                        </select>	
                        </li>	
                        <li class="list-group-item hoo-no-padding-lr">
                        &nbsp;<button class="btn btn-sm btn-primary">插入</button>	
                        <span class="pull-right">
                        <button class="btn btn-sm btn-info">编辑</button>	
                        <button class="btn btn-sm btn-danger">删除</button>&nbsp;		
                        </span>   
                        </li>	
                        	
                        </ul>
 									</div>
                                </div>
                                <div class="tab-pane fade" id="botabs3">
                                	<div class="col-md-8 bg-primary">
                                    <br />
                                    <br />
                                    <br />
 									</div>
                                	<div class="col-md-4 bg-silver">
                                    <br /><br /><br />
 									</div>
                                </div>
                                <div class="tab-pane fade" id="botabs4">
                                	<div class="col-md-8 bg-primary">
                                    <br />
                                    <br />
                                    <br />
 									</div>
                                	<div class="col-md-4 bg-silver">
                                    <br /><br /><br />
 									</div>
                                </div>
                            </div><!-- /tab-content -->
                        
 </div>
 
 <div class="col-md-9 tab-pane fade bg-red" id="contabs2">
  2
 </div> 	
 <div class="col-md-9 tab-pane fade bg-red" id="contabs3">
 3
 </div> 	
 </div>
</div>                    
</block>