<div class="btn-group">
                <button class="btn btn-mini btn-link hoo-btn-mini dropdown-toggle" data-toggle="dropdown" style="margin-bottom:5px">
                    排序
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu f_order_style" id="set_{$selectType}_show_order">
                    <li>
                        <a href="#" val="post_date desc">创建时间&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-caret-down"></i></a>
                    </li>
                     <li>
                        <a href="#" val="update_date desc">更新时间&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-caret-down"></i></a>
                    </li>
                    <li>
                        <a href="#" val="post_date asc">创建时间&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-caret-up"></i></a>
                    </li>
                   
                    <li>
                        <a href="#" val="update_date asc">更新时间&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-caret-up"></i></a>
                    </li>
                </ul>
            </div>     