              <div class="control-group">
                    <label class="control-label">显示下列条目:</label>
                    <div class="controls" id="page_option_ident" name="user-admin">
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_multi" target="option_multi">
              				批量操作
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_name" target="option_name">
              				姓名
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_mail" target="option_mail">
                           	 邮箱
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_phone" target="option_phone">
                           	 电话
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_time" target="option_time">
             				 注册时间
                        </label>
						<label class="checkbox inline">
                            <input value="" type="checkbox" name="option_status" target="option_status">
              				 状态
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_handle" target="option_handle">
              				 操作
                        </label>
                        <label class="checkbox inline">
                            <input value="" type="checkbox" name="option_tiny_window" target="option_tiny_window">
              				 角色选择
                        </label>
                    </div>
                </div>
<div class="control-group">   
<label class="control-label">每页显示用户数量:</label>
<div class="controls row-fluid">	             
<input step="1" min="1" max="999"  id="edit_page_per_page" maxlength="3" value="10" type="number">
<button class="btn" style="margin-bottom: 10px;">应用</button>
</div>
</div>