<?php $content = json_decode($item['resource_content']);?>
<div aria-hidden="true" style="display: none;" class="modal hide fade" id="modal-book" role="dialog" tabindex="-1">
<div class="modal-header">
	<button class="close source_cancel" tid="modal-book" data-dismiss="modal" type="button">×</button>
	<h3>{$dialogTitle}</h3>
</div>
<div class="modal-body">
	<form class="form form-horizontal" style="margin-bottom: 0;" id="source_form_book">
		<div class="control-group">
			<label class="control-label">分组标题</label>
			<div class="controls">
				<input class="span12" id="source_book_cate" type="text" maxlength="10" placeholder="默认为:资源文件" value="{$item.resource_group}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">封面</label>
			<div class="controls">
				<input class="span12" id="source_book_cover" title="添加本地图片" type="file">{$content->cover}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">书名</label>
			<div class="controls">
				<input class="span12" id="source_book_name" type="text" value="{$item.resource_title}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">作者</label>
			<div class="controls">
				<input class="span12" id="source_book_writer" type="text" value="{$content->writer}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">描述</label>
			<div class="controls">
				<textarea class="span12" id="source_book_describe">{$content->describe}</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">购买链接</label>
			<div class="controls">
				<input class="span12" id="source_book_link" type="text" value="{$content->link}">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn source_cancel" tid="modal-book" data-dismiss="modal" id="source_book_clear">取消</button>
	<button class="btn btn-primary resources_submit" tid="modal-book" itemID="{$itemID}" editype="Book">{$dialogSubmit}</button>
</div>
</div>